
line.xTicks {
    stroke: #d3d3d3;
}
table, th, td {
    border:1px solid black;
    text-align: center;
}
div.tooltip {
    position: absolute;
    opacity: 1;
    left: 550px;
    top: 200px;
    text-align: left;
    width: 150px;
    height: 50px;
    padding: 2px;
    font-size: 12px;
    color: #767676;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

div.legend {
    position: absolute;
    opacity: 1;
    left: 550px;
    top: 700px;
    text-align: left;
    width: 200px;
    height: 50px;
    padding: 2px;
    font-size: 10px;
    color: #767676;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.chart {
    shape-rendering: crispEdges;
}


path.domain {
    fill: none;
    stroke: #767676;
    stroke-width: 0.5;
}

.tick text {
    font-size: 10px;
}

#map {
    height: 450px;
    width: 450px;
}

#barchart {
    padding: 10px;
}

g.tick.major line {
    fill: none;
    stroke: #767676;
    stroke-width: 0.25;

}

path.line {
    stroke: #366d36;
    stroke-width: 2;
    fill: none;
}

line {
    stroke: #767676;
}

text.line,
text.xline {
    font-family: "Century Gothic", "georgia", "sans-serif";
    font-size: 8pt;
}

text.info,
text.x.label,
text.y.label {
    color: #767676;
    font-weight: bold;
    font-size: 10pt;
}

text.x.linelab,
text.y.linelab {
    color: #767676;
    font-size: 9pt;
}

div.small {
    float: left;
    width: 60px;
    padding-top: 1px;
    margin: 10px;
    color: #C4C4C4;
    font-size: 10px
}

div.desc {
    float: left;
    width: 300px;
    padding-top: 1px;
    margin: 5px;
    color: #C4C4C4;
    font-size: 10px
}

div.big {
    margin: 10px;
    color: #5a5a5a;
}

body {
    background: #F2F1EF;
}

text.title {
    position: relative;
    left: 700px;
    top: 100px;
}
* {
box-sizing: border-box;
}

.column1 {
float: left;
width: 33.33%;
padding: 5px;
}
.column2 {
float: left;
width: 25.0%;
padding: 5px;
}
/* Clearfix (clear floats) */
.row::after {
content: "";
clear: both;
display: table;
}
.section {
  display: none;
}

.section.active {
  display: block;
}

.viz-description {
  padding: 50px 100px 100px 100px;
}

.viz-description h2 {
  font-size: 24px;
  color: #d4102a;
}

.viz-description h3 {
  font-size: 20px;
  color: #d4102a;
}

.viz-description p, ul, li, b {
  font-size: 16px;
  color: #000000;
}

.home-description {
  padding: 30px 100px 100px 100px;
}

.home-description h3 {
  font-size: 24px;
  color: #d4102a;
}

.home-description p, ul, li, b {
  font-size: 16px;
  color: #000000;
}

.tableauPlaceholder1 {
  width: 80%;
  height: 800px;
}
.vis {
  align: center;
}
